body {margin:0;}

nav ul {
    top: 0;
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aquamarine;
}

nav li {
    float: left;
}

nav li img {
    width: 50px;
    display: block;
    text-align: center;
    padding: 4px;
}

nav li a {
    display: block;
    text-align: center;
    padding: 16px 12px;
    text-decoration: none;
    font-size: 20px;
    font-family: Poppins, sans-serif;
}

nav li a:hover:not(.visited) {
  background-color: #ff9367;
    color: white;
}

nav li a:visited {
    color: #ff8624;
}

nav li a:link {
    color: #ff8624;
}

nav .active {
  background-color: #04AA6D;
}

h1 {
    font-size: 30px;
}

.content {
    margin-top: 50px;
    padding: 16px
}

.content section {
    border-style: groove;
    border-color: #ff8300;
    padding: 8px 16px;
    margin: 24px 8px;
    background-color: #ffffff;
}

.content section h1 {
    font-family: Inter, serif;
    font-size: 45px;
}

.content section h2 {
    font-family: Arvo, serif;
    font-size: 32px;
}

.content section p {
    font-family: Cabin, serif;
    font-size: 24px;
    padding-bottom: 8px;
    width: 100%;
}

#content_img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.article {
    padding: 4px;
}

.article img {
    max-width: 100%;
    width: 800px;
}

.article a {
    text-decoration: underline;
    font-family: "Times New Roman", serif;
    color: #ff2600;
}

#defaultimg {

}